* {
  font-family: sans-serif;
}

#app {
  padding-left: 60px;
  padding-right: 60px;

  display: flex; /* or inline-flex */
  justify-content: center;
  align-items: center;
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  width: 100%;
  border: none;
}

.button {
  background-color: #ab3230;
  border: 1px solid transparent;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  transition-duration: 0.4s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
}

.button:hover {
  opacity: 0.5;
}

.btn-light {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.success {
  background-color: #d1e7dd;
  color: #0f5132;
}

.row {
  border: none;
  margin: 15px 10px 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  border: none;
  display: flex;
  flex-direction: column;
  width: auto;
}

.item {
  margin: 10px;
  overflow: auto;
  width: auto;
  padding: 20px;
  border-radius: 30px;
  color: #ffffff;
}

.nft {
  background-color: #045b8a;
}
.balance {
  background-color: #045b8a;
}
.address {
  background-color: #045b8a;
}
p {
  display: block;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.flex {
  display: flex;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.grid {
  display: grid;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.justify-center {
  justify-content: center;
}

.gap-4 {
  gap: 1rem;
}

.p-4 {
  padding: 1rem;
}

.border {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.rounded {
  border-radius: 0.25rem;
}

.w-full {
  width: 100%;
}

.border-transparent {
  border-color: transparent;
}

.break-all {
  word-break: break-all;
}

.justify-start {
  justify-content: start;
}

.mt-6 {
  margin-top: 24px;
}

.mt-8 {
  margin-top: 32px;
}